body {
  background: #fff;
  padding: 0px;
  margin: 0px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}

input, button {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.main-div, .loggedin-div {
  width: 20%;
  margin: 0px auto;
  margin-top: 150px;
  padding: 20px;
  display: none;
}

.main-div input {
  display: block;
  border: 1px solid #ccc;
  border-radius: 50px;
  background: #fff;
  padding: 15px;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.main-div input:focus {
  border: 1px solid #777;
}

.main-div button, .loggedin-div button {
  background: #5dfc8a;
  color: #fff;
  border: 1px solid #5d8ffc;
  border-radius: 50px;
  padding: 15px;
  display: block;
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.main-div button:hover, .loggedin-div button:hover {
  background: #fff;
  color: #5dfc8a;
  border: 1px solid #5dfc8a;
  cursor: pointer;
}


.container {
	position: relative;
	width: center;
	padding: relative;
	background: #fff;
}


.container .main-div {
	position: relative;
	width: relative;
	padding: relative;
	background: #fff;
	box-shadow: 0 5px 15px;
	border: relative;
	border-radius: 10px;
}



